// Specific CSS for your home-page
body {
  background-color: #ffffff;
}

.banner {
  background-size: cover;
  // height: 100vh;
  background-position: right center;
  padding: 150px 0;
  border-radius: 7px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.9rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.banner p {
  margin-top: 10px;
  font-size: 0.8rem;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  color: white;
  padding: 12px 24px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 200;
  // background: $info;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  opacity: 1;
}

.pricing p {
  font-weight: 300;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
