// HOMEPAGE
body {
  background-color: #ffffff;
}

// CAROUSEL
.carousel {
  margin-bottom: 2rem;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  font-weight: 200;

  h1 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.9rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  p {
    font-size: 0.8rem;
  }
}

.carousel-item {
  height: 32rem;
  background-size: cover;
}

.carousel-caption,
.services {
  .btn-primary {
    color: white;
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 200;
    font-size: 0.9rem;
    transition: background 0.3s ease;
  }

  .btn-primary:hover {
    opacity: 1;
    background-color: rgb(51, 75, 145);
  }
}

// CARDS

.cards,
.services {
  h1 {
    font-size: 1.9rem;
    font-weight: 400;
  }
}

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  width: 300px;
  box-shadow: 0 0 12px 0 rgba(117, 117, 117, 0.2);

  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: center;
    background-repeat: no-repeat;
    background-position: center center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(117, 117, 117, 0.3);
      background-size: center;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:before {
        filter: none;
      }
    }
  }

  .card-footer {
    background: none;
    border-top: none;

    .media {
      img {
        border: solid 3px rgba(255, 255, 255, 0.3);
      }
    }
  }

  .card-meta {
    color: #26bd75;
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    h1 {
      font-size: 1.5rem;
    }
  }

  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    // background: rgb(35, 79, 109);
    // background: linear-gradient(
    //   0deg,
    //   rgba(229, 229, 229, 0.379) 0%,
    //   rgb(56, 65, 90) 100%
    // );
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 767px) {
}
