<div class="container">
</div>
<footer class="text-center text-lg-start bg-light text-muted pt-5">

  <section class="footer-info">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Cosmed Travel
          </h6>
          <p>
            Your trusted aesthetic tourism agency in Azerbaijan.
          </p>

            <div class="social-icons justify-content-center">
              <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-tiktok"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
              </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="packages col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Packages
          </h6>
          <p>
            <a href="/packages/1" class="text-reset">Weight-loss Surgery</a>
          </p>
          <p>
            <a href="/packages/2" class="text-reset">Aesthetic Surgery</a>
          </p>
          <p>
            <a href="/packages/3" class="text-reset">Dental Surgery</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="useful-links col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/packages" class="text-reset">Our Packages</a>
          </p>
          <p>
            <a href="/pages/about" class="text-reset">Abous Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact Details</h6>
          <p><i class="fas fa-home me-3"></i>Baku, AZ1027</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@cosmedtravel.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +994 00 000000</p>
          <p><i class="fas fa-phone me-3"></i> +44 000 000 00</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <div class="text-center p-4 text-muted">
    © 2023 Cosmed Travel <i class="fas fa-heart"></i>
  </div>
</footer>
