<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center">About us</h1>
    <p class="col-md-10">We offer a wide range of carefully curated packages that cater to different needs and goals. Whether you're looking for a complete makeover, a specific treatment, or a rejuvenating experience, our packages are designed to provide you with a comprehensive and personalized aesthetic travel experience.</p>
    <div class="col-md-10 text-center">
      <%= image_tag "7.png", class: "img-fluid mb-4" %>
    </div>
  </div>
</div>
