.social-icons a {
  text-decoration: none;
}

.logo {
  max-width: 10px; /* set the maximum width of the logo */
  margin-bottom: 10px; /* set the bottom margin to create space above the footer */
  /* add any other CSS rules to adjust the size, position, and styling of the logo as needed */
}
