.navbar-cosmedtravel {
  justify-content: space-between;
  background: white;
  text-transform: uppercase;
}

.navbar-cosmedtravel .navbar-collapse {
  flex-grow: 0;
}

.navbar-cosmedtravel .navbar-brand img {
  width: 70px;
}
