@import "packages/home";
@import "packages/show";

.card-package {
  overflow: hidden;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.5rem;
  width: 350px;
}

.card-package > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-package h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.card-package p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-package .card-package-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
